.choose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__content {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
