.download {
  position: relative;
  width: 100%;
  margin: 110px 0;
  min-height: 60vh;
  background: url("../../src/images/downloadbg.png") no-repeat bottom right;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__heading {
    padding: 0 13%;
  }
  &__links {
    padding: 0 13%;

    margin: 30px 0;
    img {
      margin: 0 10px;
    }
  }
}
