$primary-color: #fcae61;
$secondary-color: #242f51;
$buttonbgc-color: #2500f9;
$lightgray-color: #88898d;
$verylightgray-color: #e2eaed;
$background-color: #fdfdfe;
$title-color: #242f51;
$subtitle-color: #616368;
$lightredfeatures-color: #f55767;
$lightbluefeatures-color: #2563ff;
$lightgreenfeatures-color: #40975f;
$basicitem-color: #242f51;
$darkblue-color: #09142e;
